spring:
  datasource:
    url: jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?options=-c%20timezone=UTC&prepareThreshold=0
    username: postgres.kijlmurakaimfrpaqrmq
    password: Denyeubama1
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 5000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

  h2:
    console:
      enabled: false
  application:
    name: ai-cdm-system

logging:
  level:
    vn.clinic.cdm: DEBUG
    org.hibernate.SQL: DEBUG

